extends layout

block content
  h1= title 

  <ul class="navigation">
  <li>
  <h2>Home</h2>
  <p></p>
  </li>
  <li>
  <h2>Bird Photography</h2>
  <p></p>
  </li>
  <li>
  <h2>Nature Photography</h2>
  <p></p>
  </li>
  <li>
  <h2>Blog</h2>
  <p></p>
  </li>
  </ul>
